<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Views Lab II - Date</title>
  </head>

  <body>
    <h1>Today</h1>
    <% day = DateTime.now.strftime('%A') %>
    <% date_day =  
    <p> I love programming </p>
  </body>
</html>
